.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #bdbdbd;
  background: #fff;
  border-radius: 15px;
  width: 310.5px;
  height: 552px;
  box-shadow: -5px 10px 10px 5px #909296;
  margin: 10%;
  padding: 0px;
}

.app-bar {
  padding: 5%;
  text-align: center;
  background: #ffffff;
  border-radius: 15px 15px 0px 0px;
}

.back-button {
  border-radius: 100%;
  border: 1px solid #af46f5;
  background: #af46f5;
  width: 35px;
  height: 35px;
}

.left-icon {
  align-self: center;
  margin: auto 2px;
  font-size: large;
  color: #fff;
}

.enter-pin {
  padding: 9%;
  text-align: center;
  background: #ffdeed;
}

.pin-numbers {
  padding: 51% 0%;
  text-align: center;
  background: #fdd5e0;
}

.three-buttons {
  padding: 7%;
  text-align: center;
  background: #adb3d8;
  border-radius: 0px 0px 15px 15px;
}
