* {
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.flex-container {
  border: 1px solid #bdbdbd;
  background: #fff;
  border-radius: 15px;
  width: 310px;
  height: 550px;
  box-shadow: -5px 10px 10px 5px #cacbcc;
  margin: 10%;
  justify-content: stretch;
  flex-direction: column;
  display: flex;
}

.app-bar {
  padding: 5%;
  text-align: center;
  background: #ffffff;
  border-radius: 15px 15px 0px 0px;
  flex-shrink: 0;
}

.back-button {
  border-radius: 100%;
  border: 1px solid #af46f5;
  background: #af46f5;
  width: 45px;
  height: 45px;
}

.left-icon {
  margin: 2.3px 3.5px;
  font-size: x-large;
  color: #fff;
}

.pin-container {
  min-height: 0;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.enter-pin {
  padding: 5%;
  text-align: center;
}

.pin-numbers {
  text-align: center;
}

.pin {
  text-align: center;
  padding-bottom: 0%;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.row > * {
  width: initial;
  height: initial;
  padding: 0.25rem;
}

.mt-5 {
  margin-top: 2rem !important;
}

.btn {
  border: 1px solid #bdbdbd;
  width: 70px;
  height: 70px;
  font-size: x-large;
  border-radius: 50% !important;
}

button {
  text-align: center;
  outline: none;
  background-color: #06aadbde !important;
  border-color: #06aadbde !important;
  color: #fff !important;
}

.pin-buttons {
  border-radius: 100%;
  font-size: 40px;
  border: 1px solid #bdbdbd;
}

.three-buttons {
  padding: 5%;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.clearButton {
  border-radius: 100%;
  border: 1px solid #06aadbde;
  width: 45px;
  height: 45px;
}

.subButton {
  border-radius: 16px;
  border: 1px solid #06aadbde;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
}

.refButton {
  border-radius: 100%;
  border: 1px solid #af46f5;
  width: 45px;
  height: 45px;
}
