* {
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.parent {
  display: flex;
  flex-direction: column;
  border: 1px solid #bdbdbd;
  border-radius: 15px;
  background: #fff;
  width: 310px;
  height: 530px;
  box-shadow: -5px 10px 10px 5px #cacbcc;
  margin: 5%;
  justify-content: stretch;
  position: relative;
}

#loading,
#finished {
  width: 100%;
  height: 100%;
}

#loading {
  display: none;
  background-color: rgba(8, 8, 8, 0.719);
  position: absolute;
  border-radius: inherit;
}

.text-primary {
  color: #06aadbde !important;
}

.spinner-border {
  animation: 1.5s linear infinite spinner-border;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 40%;
  top: 45%;
}

#finished {
  display: none;
  color: #06aadbde !important;
  align-items: center;
  justify-content: center;
}

.app-bar {
  padding: 5%;
  text-align: center;
  background: #ffffff;
  border-radius: 15px 15px 0px 0px;
  flex-shrink: 0;
}

.back-button {
  border-radius: 100%;
  border: 1px solid #06aadbde;
  background: #06aadbde;
  width: 45px;
  height: 45px;
}

.left-icon {
  margin: 2.3px 3.5px;
  font-size: x-large;
  color: #fff;
}

.pin-container {
  min-height: 0;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.enter-pin {
  padding: 5%;
  text-align: center;
}

.pin-numbers {
  text-align: center;
}

.pin {
  text-align: center;
  padding-bottom: 0%;
}

input {
  border: none;
  text-align: center;
  width: auto;
  outline: none;
  margin: 5%;
  padding: 7%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.row > * {
  width: initial;
  height: initial;
  padding: 0.25rem;
}

.mt-5 {
  margin-top: 0.75rem !important;
}

.btn {
  border: 1px solid #bdbdbd;
  background-color: #06aadbde;

  width: 70px;
  height: 70px;
  font-size: x-large;
  border-radius: 50% !important;
}

.btn:focus {
  box-shadow: none;
}

button {
  text-align: center;
  outline: none;
  background-color: #06aadbde;
  border-color: #06aadbde;
  color: #fff !important;
}

.pin-buttons {
  border-radius: 100%;
  font-size: 40px;
  border: 1px solid #bdbdbd;
}

.three-buttons {
  padding: 5% 5% 5% 5%;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.clear-button {
  border-radius: 100%;
  border: 1px solid #06aadbde;
  width: 45px;
  height: 45px;
}

.sub-button {
  border-radius: 16px;
  border: 1px solid #06aadbde;
  width: auto;
  height: auto;
  padding: 0.5rem 1rem;
}

.ref-button {
  border-radius: 100%;
  border: 1px solid #06aadbde;
  width: 45px;
  height: 45px;
}

.back-button:hover,
.btn:hover,
.clear-button:hover,
.sub-button:hover,
.ref-button:hover {
  -moz-box-shadow: 0 0 3px #bdbdbd;
  -webkit-box-shadow: 0 0 3px #bdbdbd;
  box-shadow: 0 0 3px #bdbdbd;
  background: #196e88de;
}
